 html p{
    font-family: serif;
}
.titulo{
    text-align: center;
}
#contenedor #primer-parrafo{
    background-color:#cee
}
p#primer-parrafo em{
    color:#933 ;
}
p a[href]{
    outline: 1px solid #333 ;
}
article p a[href]{
    outline: 1px solid #333 ;
}
html body p.fuente.parrafo{
    opacity: 100% ;
}
.complicado{
    font-weight: 700 ;
    color:#c62 !important;

}